@import 'reset';

@font-face {
    font-family: "Quentin";
    src: url("https://ashley.how/assets/fonts/Quentin.otf") format("opentype")
}

$gold: #ad8553;

$primary-font: -apple-system,
system-ui,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif;
$secondary-font: 'Montserrat',
sans-serif;
// $tertiary-font: 'Herr Von Muellerhoff',
// cursive;
$tertiary-font: 'Quentin',
cursive;

html {
    font-family: $primary-font;
}

.full {
    width: 100%;
    height: 95vh;
}

button {
    cursor: pointer;
}

#top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 70px;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: .35em;
    fill: white;
    font-family: $secondary-font;
    z-index: 99;
    opacity: 1;


    @keyframes menu {
        from {
            opacity: 0;
            transform: translateY(-70px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .extras {
        margin-right: 45px;

        svg:nth-child(2) {
            border-left: 2px solid white;
            padding: 0 10px;
            border-right: 2px solid white;
            margin: 0 5px;
        }
    }

    ul {
        display: flex;

        li {
            padding: 0px 15px;
        }
    }

    a {
        color: white;
        text-decoration: none;

        &.active,
        &:hover {
            border-bottom: 2px solid white;
        }
    }
}

.main {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
        font-family: $tertiary-font;
        // letter-spacing: 5px;
        font-size: 4em;
        color: #ffd3b3;
        transform: translateY(-500px);
        animation: from-top 0.3s ease forwards;
        opacity: 0.5;
    }

    h1 {
        font-size: 7.5em;
        font-weight: 700;
        letter-spacing: 30px;
        text-transform: uppercase;
        color: #e5ecf2;
        text-shadow: -1px 4px 18px #00000024;
        transform: translateX(-500px);
        animation: from-left 0.3s ease forwards;
        opacity: 0.5;
    }

    h3 {
        text-transform: uppercase;
        font-size: 0.8em;
        letter-spacing: 9px;
        transform: translateY(500px);
        animation: from-left 0.3s ease forwards;
        opacity: 0.5;
        padding-top: 20px;
    }
}

@keyframes from-left {
    from {}

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes from-top {
    from {}

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes from-bottom {
    from {}

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#hero {
    color: white;
    background-image: url("../media/back-trim.jpg");

    &::before {
        content: "";
        display: block;
        position: absolute;
        height: 95%;
        width: 100%;
        background: #0000004f;
    }
}

.brand-name {
    margin-left: 45px;
    font-size: 1.2em;
    letter-spacing: 1em;
    border-left: 4px solid white;
    padding-left: 10px;
}

#subscribe {
    background: #171717;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
        padding: 10px 10px;
        margin: 30px;
        background: transparent;
        border: 1px solid white;
        font-family: $secondary-font;
        color: white;
    }

    button {
        padding: 12px 80px;
        margin: 30px;
        background: white;
        border: none;
        font-family: $secondary-font;
    }
}

div#three-boxes {
    display: flex;
    height: 500px;
    align-items: center;
    text-align: center;

    &>div {
        width: calc(100%/3);
        height: 100%;
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &:nth-child(2) {
            background: black;
            color: white;
        }
    }
}

.inner-box {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

    &:hover {
        border: 2px solid transparent;
        animation: fade-in 0.5s ease forwards;
    }

    h3 {
        font-family: $tertiary-font;
        letter-spacing: 5px;
        font-size: 5em;
        color: $gold;
        text-transform: capitalize;
    }

    h2 {
        font-size: 2em;
        margin: 20px 0;
    }

    span {
        font-size: 0.8em;
        letter-spacing: 2px;
    }

    a {
        color: $gold;
        margin-top: 40px;
        letter-spacing: 3px;
        font-size: 0.8em;
        font-weight: 600;
    }
}

@keyframes fade-in {
    from {}

    to {
        border: 2px solid $gold;
    }
}

#read-more {
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../media/woman-hair-in-face.jpg");
    background-size: cover;
    position: relative;
    color: white;

    &::before {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        background: #0000004f;
    }

    .inner-container {
        width: 45%;
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        z-index: 1;

        &::before {
            position: absolute;
            content: "Makeover";
            font-size: 10em;
            z-index: -1;
            color: #d87c084a;
            top: 23px;
            font-family: $tertiary-font;
            letter-spacing: 5px;
        }

        h2 {
            font-size: 3em;
            letter-spacing: 2px;
        }

        p {
            line-height: 25px;
            font-size: 1.2em;
            text-align: center;
        }

        button {
            background: #15151500;
            color: white;
            padding: 11px 31px;
            font-size: 1.1em;
            border: 1px solid white;
            margin-top: 10px;
            font-family: $primary-font;

            &:hover {
                background: white;
                color: black;
            }
        }
    }
}

#gallery {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px 30px;
    grid-template-areas: "photo-1 photo-1 photo-3 photo-3""photo-1 photo-1 photo-4 photo-5""photo-2 photo-2 photo-4 photo-5";
    width: 100%;
    height: 800px;
    padding: 30px;

    &>div {
        background-position: center;
        background-size: cover;
        position: relative;

        &:hover>.hover-info {
            opacity: 1;
        }
    }
}

.photo-1 {
    grid-area: photo-1;
    background-image: url("../media/shaving-beard.jpg");
}

.photo-2 {
    grid-area: photo-2;
    background-image: url("../media/salon-tools.jpg");
}

.photo-3 {
    grid-area: photo-3;
    background-image: url("../media/haircut.jpg");
}

.photo-4 {
    grid-area: photo-4;
    background-image: url("../media/curling-tongs.jpg");
}

.photo-5 {
    grid-area: photo-5;
    background-image: url("../media/hair-dye.jpg");
}

.hover-info {
    opacity: 0;
    background: #00000054;
    margin: auto auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid $gold;
    text-transform: uppercase;
    transition: opacity 0.2s linear;

    &>* {
        padding: 10px;
    }

    h3 {
        font-size: 2.5em;
    }

    span {
        font-family: $secondary-font;
        font-size: 0.8em;
        letter-spacing: 3px;
    }
}


#impress {
    background: black;
    background-image: url('../media/woman-hair-in-face.jpg');
    height: 800px;
    // height: 100%;

    &>.inner-container {
        display: flex;
        height: 100%;

        &>div {
            width: 50%;
            height: 100%;
        }

        .img-container {
            // background: red;
            width: 74%;
            height: 64%;
            position: relative;

            &>div {

                background-position: center;
                background-size: cover;
                position: absolute;
                width: 350px;
                height: 350px;
            }
        }


        .images {
            display: flex;
            align-items: center;
            justify-content: center;
        }



        .photo-1 {
            background-image: url('../media/hairdressers-working.jpg');
            background-size: cover;
            // position: relative;
            top: 0;
            left: 0;
        }

        .photo-2 {
            background-image: url('../media/salon-tools.jpg');
            background-size: cover;
            // position: relative !important;
            // top: 172px;
            right: 0;
            bottom: 0;
        }
    }
}